@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Start";
}

<div class="picture-container"><img src="~/Content/cara-delevingne-for-interview-magazine-april-2013-2.jpg" alt="best Photo ever"> </div>
<div>
    <h1>International Photography Awards</h1>
    <p>The International Photography Awards conducts an annual photography competition for professional, non-professional, and student photographers on a global level, creating one of the most ambitious and comprehensive competitions in the photography world today. The IPA recognizes photography’s leading talents who are creating, shaping and defining the world of photography today.

    <p>– Be honored at the Sveta Awards Gala</p>
    <p>– Receive the Trophy at the “Best of Show” Exhibition in Saratov City</p>
    <p>– Be Published in the Svetas Book of Photography</p>
    <p>– Be Featured in the IPA Best of Show Exhibition in Saratov City and beyond</p>
    <p>– Win $50,500 in cash prizes</p>
    <p>– And more!</p>
</div>
<div class="white-div">
    <h2>Frequently Asked Questions</h2>
    <strong>Q: Who is considered a professional photographer?</strong>
    <p>A: We consider professional photographers those who earn, or have earned, the majority of their income from photography, or who sell or publish their work regularly, or belong to professional photography organizations.</p>
    <strong>Q: Are only photography students eligible for the student discount?</strong>
    <p> A: All students are eligible for the student discount, regardless of the concentration or major in which they are studying.</p>
    <strong>Q: How many photographs can I enter into the same series?</strong>
    <p>A: A series consists of at least 2 and no more than 10 photographs ( 1 first photograph and 9 supporting pictures), sharing a common theme or concept and a single title. Series will be judged as a whole. Please be sure that the photographs work together as a body of work.</p>
    <div>
        <div class="yellow-div">
            <h3>LAST YEAR AWARDS WINNER</h3>
        </div>
        <div class="winners">
            <img src="~/Content/Lindberg.jpg" alt="">
            <div class="nameOf">
                <h2>Pieter Lindberg</h2>
            </div>
        </div>
    </div>
</div>
