@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/Content/PhotoAwards.css" />
    <link rel="stylesheet" href="~/Content/Participants.css" />
    <title>@Page.Title</title>
</head>
<body class="homePageBody">
    <div class="header">
        <div class="hello">
            @RenderPage("~/Pages/_loginPartial.cshtml")
        </div>
        <div class="header-menu">
            <ul>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/about/staff">CONTACT</a></li>
                <li><a href="~/Pages/loginPage.cshtml">LOGIN</a></li>
            </ul>
        </div>

    </div>
    <div class="logo-container" id="logo"> <img src="~/Content/Logogreatest.png" alt="Photo Awards">  </div>
    <div class="main-menu">
        @if (User.Identity.IsAuthenticated && User.IsInRole("photographer"))
        {
        <ul>
            <li class="menu-item"><a href="/about">SUBMIT</a></li>
            <li class="menu-item"><a href="/about/staff">WINNERS</a></li>
            <li class="menu-item"><a href="~/Pages/jury.cshtml">JURY</a></li>
            <li class="menu-item"><a href="~/Pages/participants.cshtml">PARTICIPANTS</a></li>
            <li class="menu-item"><a href="~/Pages/me.cshtml">MY PAGE</a></li>
        </ul>
        }
        else
        {
            <ul>
                <li class="menu-item"><a href="/about">SUBMIT</a></li>
                <li class="menu-item"><a href="/about/staff">WINNERS</a></li>
                <li class="menu-item"><a href="~/Pages/jury.cshtml">JURY</a></li>
                <li class="menu-item"><a href="~/Pages/participants.cshtml">PARTICIPANTS</a></li>
            </ul>
        }

    </div>
    @RenderBody()
</body>
</html>
<script>
    var logo = document.getElementById('logo');
    logo.onclick = function () {
        window.location.assign("index.cshtml");
    }
</script>