.UsersContainer{
    display: flex;
    flex-wrap: wrap;
  }
  
.userBlock {
    padding: 10px;
    margin: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    width: 15%;
}

.buttons{
    display: flex;
  }

.fixedTrash, .updateIcon, .awardsIcon, .fixedTrophy, .fixedCross {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 3px;
    border: 1px solid gray;
    right: 5px;
    margin: 5px 0 5px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    left: 3px;
}

.fixedTrash:hover, .updateIcon:hover, .awardsIcon:hover, .fixedTrophy:hover, .fixedCross:hover {
    background-color: rgb(196, 164, 206);
    cursor: pointer;
}