@{
    Layout = null;
}


    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="alertInfo">Hello, @User.Identity.Name</div>
            <div class="link"><a href="~/Pages/signOut.cshtml">Sign out</a></div>

        }
        else
        {
            <div class="alertInfo">Hello, Guest!</div>
            <div class="link"><a href="~/Pages/signIn.cshtml">Sign in</a></div>
        }

    </div>
