@using Epam.UsersManager.BLL;
@using Epam.UsersManager.BLL.Interfaces;
@using Epam.UsersManager.DependencyResolver;
@using Epam.UsersManager.Entities;
@using System;
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Awards";
    var managerLogic = DependencyResolver.UsersManagerBll;
    string search = null;
    string title = null;
    string awardDel = null;

    if (IsPost)
    {
        awardDel = Request["deleteAwardId"];
        search = Request["search"];
        title = Request["awardTitle"];
        if (title != null)
        {
            managerLogic.AddAward(new Award(title));
        }

        if (awardDel != null)
        {
            managerLogic.RemoveAward(Guid.Parse(awardDel));
        }
        else { Console.WriteLine(awardDel); }
    }
}

@if (User.Identity.IsAuthenticated)
{
    <p>All Awards</p>
    <div class="UsersContainer" id="awards-container">
        @foreach (var award in managerLogic.GetAwards())
        {
            if ((search != null && award.Title.Contains(search)) || (search == null))
            {
                <script>

                var openDelAWardModal = (event) => {
                    if (event.target.className == "fixedTrash" || event.target.className == "far fa-trash-alt")
                    {
                        var delAwardModal = document.getElementById("delAwardModal");
                        var deleteAwardId = document.getElementById("deleteAward-id");
                        var awardToDeleteId = event.currentTarget.id;
                        delAwardModal.style.display = "block";
                        deleteAwardId.value = awardToDeleteId;
                    }
                }
                var submitDeleteAward = document.getElementById('submit_delAward');
                var trashClick = (event) => {
                if (event.target.className == "fixedTrash" || event.target.className == "far fa-trash-alt")
                {
                var xhr = new XMLHttpRequest();
                var body = 'awardDel=' + encodeURIComponent(event.currentTarget.id);
                xhr.open("POST", '/Pages/Awards.cshtml', true);
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    alert(body);
                xhr.onreadystatechange = function ()
                    { // listen for state changes
                    if (xhr.readyState == 4 && xhr.status == 200)
                    { // when completed we can move away
                            window.location = "/Pages/awards.cshtml";
                    }
                    }
                xhr.send(body);
                }
            }
            (function () {

            let a = "@award.Title";
                let awardsContainer = document.getElementById("awards-container");
            let awardBlock = document.createElement('div');
            awardBlock.className = "awardBlock";
            awardBlock.id ="@award.ID";
            let trash = document.createElement('div');
            trash.className = "fixedTrash";

            let icon = document.createElement('i');
            icon.className = 'far fa-trash-alt';
            trash.appendChild(icon);
                awardBlock.addEventListener('click', openDelAWardModal);
                let pictureContainer = document.createElement('div');
                pictureContainer.innerHTML = "<img src='/Content/Award.png' style= width:100%;'>";
                let footer = document.createElement('div');
                footer.className = "awardFooter";
            let title = document.createElement('div');
                title.className = "awardTitle";
                title.innerText = a;

                footer.appendChild(title);
                footer.appendChild(trash);
                awardBlock.appendChild(pictureContainer);
                awardBlock.appendChild(footer);

            awardsContainer.appendChild(awardBlock);

        }())
                </script>
            }
        }
    </div>
    <div class="fixedplus" id="AwardsFixedplus">
        <i class="fas fa-plus icon"></i>
    </div>
    <div id="addAwardModal" class="modal">
        <div class="add-content">
            <form id="addAwardForm" action="" method="post">
                <input class="add-header" id="add-title" placeholder="Title" type="text" name="awardTitle" />
            </form>
            <div class="modal-footer">
                <div class="modal-buttons">
                    <button id="createAward" type="submit" form="addAwardForm">Add</button>
                    <button id="close_addAward">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="delAwardModal" class="modal">
        <div class="add-content">
            <form id="delAwardForm" action="" method="post">
                <input id="deleteAward-id" name="deleteAwardId" type="hidden" />
            </form>
            <div class="areYouSure">Are you sure?</div>
            <div class="modal-footer">
                <div class="modal-buttons">
                    <button id="submit_delAward" type="submit" form="delAwardForm">Yes</button>
                    <button id="close_delAward">No</button>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="alertInfo">Sorry, isn't available for Guest!</div>
}

<script type="module" src="~/Scripts/Awards.js"></script>
