@{
    Layout = "~/_Layout.cshtml";
    var usersManagerLogic = DependencyResolver.UsersManagerBll;


#line default
#line hidden

#line 6 "D:\epam\xt_net_web\Task_7\Task_7_1_users_Manager\Task_7_1_2\Epam.UsersManager.AspNet\Pages\ViewPage1.cshtml"
    foreach (var user in usersManagerLogic.GetAllUsers())
    {


#line default
#line hidden

#line 7 "D:\epam\xt_net_web\Task_7\Task_7_1_users_Manager\Task_7_1_2\Epam.UsersManager.AspNet\Pages\ViewPage1.cshtml"
        __o = user.Name;

#line default
#line hidden

#line 8 "D:\epam\xt_net_web\Task_7\Task_7_1_users_Manager\Task_7_1_2\Epam.UsersManager.AspNet\Pages\ViewPage1.cshtml"


}

    <p>All Awards</p>